section {
	background-color: #CC401F;
	color: #E9F2FA;
	min-height: 50vh;
}

.top {
	padding: 7em 0em;
	color: #E9F2FA;
	text-align: center;
}

.top h1, .top h4 {
	color: #E9F2FA;
	font-weight: 700;
}

.top2 {
	background-color: #ffffff;
	text-align: center;
}

.top2 h1 {
	font-weight: 700;
}